<!-- FOOTER -->
<footer class="navbar fixed-bottom">
    <p class="dev-name text-center">
        ® 2020 
        Nadine Juraschek
        <a class="dev-links" href="mailto:nadine.jura@online.de"><i class="fas fa-envelope"></i></a>
        <a class="dev-links" href="https://github.com/nadinejuraschek"><i class="fab fa-github-square"></i></a>
        <a class="dev-links" href="https://www.linkedin.com/in/nadine-juraschek-3403b0175/"><i
              class="fab fa-linkedin"></i></a>
        <a class="dev-links icon-smaller" href="#"><i class="fas fa-link"></i></a>
    </p>
</footer>

<!-- FONTAWESOME -->
<script src="https://kit.fontawesome.com/ff8d25dcae.js" crossorigin="anonymous"></script>

</body>
</html>