<%- include ('../partials/header') -%>

<div class="container">
    <div class="row">
        <h1 class="text-center">Create a New Playground</h1>

        <div style="width: 30%; margin: 2rem auto;">
            <form action="/playgrounds" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="playgroundName" placeholder="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="playgroundImg" placeholder="image url">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="description">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-danger btn-block"></button>
                </div>
            </form>
            <a href="/playgrounds">Back</a>
        </div>
    </div>
</div>

<%- include ('../partials/footer') -%>