<%- include ('../partials/header') -%>

<div class="container">
    <div class="row">
        <h1 class="text-center">Edit Comment</h1>
        <div>
            <form action="/playgrounds/<%= playground_id %>/comments" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" placeholder="comment">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-danger btn-block"></button>
                </div>
            </form>
            <a href="/playgrounds">Back</a>
        </div>
    </div>
</div>

<%- include ('../partials/footer') -%>