<%- include ('partials/header') -%>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Playground App</a>
        </div>
    </div>
</nav>

<div class="container">

    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to</h1>
            <p>This is a short subtitle</p>
            <p>
                <a class="btn btn-danger btn-lg" href="/playgrounds/new">Add New Playground</a>
            </p>
        </div>
    </header>

    <div class="row">
        <div class="col-lg-12">
            <h3>Most Popular Playgrounds</h3>
        </div>


    </div>
    
    <p>Welcome!</p>
    
    <a href="/playgrounds">View all Playgrounds</a>

</div>

<%- include ('partials/footer') -%>